#header-wrap #logo img, .is-expanded-menu #header.sticky-header-shrink #header-wrap #logo img{
	height: 40px;
}
.menu-link{
	text-transform: capitalize;
	letter-spacing: normal;
}
#header-wrap{
	position: relative;
}
.entry-title.nott h3{
	font-size: 20px;
}
.entry-content p{
	font-size: 14px;
}
.event-image{
	height: 475px;
	overflow: hidden;
	border-radius: 16px;
}
.event-image a{
	display: block;
	width: 100%;
	height: 100%;
	background-color: #000;
}
.event-image img{
	width: 100%;
	height: 100%;
	object-fit: contain;
	object-position: center;
}
.details-content {
    position: relative;
    overflow: hidden;
    transition: max-height 0.4s ease;
}

/* Collapsed state */
.details-content.collapsed {
    max-height: 220px; /* adjust */
}

/* Gradient overlay */
.details-content.collapsed::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 80px;
    background: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0),
        #fff
    );
}

/* Expanded state */
.details-content.expanded {
    max-height: 2000px;
}

.details-content.expanded::after {
    display: none;
}

.show-toggle {
    margin-top: 12px;
    background: none;
    border: none;
    color: #0d6efd;
    font-weight: 600;
    cursor: pointer;
}

.show-toggle:hover {
    text-decoration: underline;
}
.map{
	width: 100%;
	height: 100%;
	aspect-ratio: 1 / 1;
	overflow: hidden;
	border-radius: 12px;
}
.toggle-map{
	position: absolute;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
	z-index: 99;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba(255, 255, 255, 0.5);
	backdrop-filter: blur(10px);
	border-radius: 12px;
}

